
.login-page {
    background-image: url('../assets/background.png');
    background-size: cover; 
    background-position: center; 
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

.login-container {
    background: white;
    padding: 2vw; 
    margin: 6vh 11vw;
    width: 30vw;
    text-align: center;
    align-items: center;  
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-container {
    text-align: left; 
    padding-bottom: 2vw;
    padding: 2vw; 
}

.separator {
    margin: 0; 
    font-size: x-small; 
    text-align: center;
    margin-bottom: 5vh;
    margin-top: 5vh; 
}

a {
    color: black;       
    text-decoration-color: black; 
}

a:hover {
    color: blue;      
}

input {
    width: 100%;
    padding: 0.5vw;
    margin-bottom: 2vh; 
    font-weight: normal; 
    margin-top: 1vh; 
    box-sizing: border-box;
}

.button-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 1.25em; 
    width: 100%;
}

.primary-button {
    text-align: center;
    border: none; 
    color: white;
    background-color: #e7191f;
    padding: 1.5vw 3vw;
    font-weight: bold; 
    font-size: 16px; 
    border-radius: 4rem;
    cursor: pointer;
    display: block; 
}

.primary-button:hover {
    background-color: #831717;
    cursor: pointer;
}

.secondary-button {
    background-color: #dfdfdf; 
    color: black; 
    font-size: 14px; 
    padding: 0.6vw; 
    display: block; 
}

.secondary-button:hover {
    background-color: #928e8e;
}


/* Make the containers smallers, font size smaller and add less padding*/
@media (max-width: 750px) {
    .login-container {
        width: 80vw; 
        margin: 4vh auto;
        padding: 4vw;
    }

    .primary-button {
        padding: 2vw 5vw; 
        font-size: 14px; 
    }

    .secondary-button {
        font-size: 12px;
        padding: 1vw 3vw;
    }

    input {
        padding: 1vw;
    }

    h2 {
        font-size: 1.5em; 
    }

    p {
        font-size: 1em; 
    }
}


