#myprofile {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    /*justify-content: space-between;*/
}

.li-app-status-board{
    margin-top: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
    background-color: #dfdfdf;
    padding: 0 1vw;
    margin: 2vw;
}

.form-container{
    padding-top: 1vw;
}

#documents {
    margin-right: 13vw;
}

.documents-content {
    line-height: 6vh;
    width: 30vw;
    text-align: end;
}

.applications-content {
    width: 40vw;
    padding-bottom: 2vh;
}

.types-personal-info {
    line-height: 6vh;
    width: 30vw;
}

input[type="text"] {
    width: 50%;
    background-image: none;
    font-weight: normal;
}

#personal-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 30vw;
    font-weight: normal;
    padding-bottom: 2vh;
}

.form-personal-info {
    padding-top: 13vh;
}

input {
    margin-bottom: 2vh;
}

.container ul {
    list-style: none;
    padding-left: 0%;
}

h2 {
    margin-bottom: 0%;
    text-align: start;
}

.col {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    font-weight: normal;
}

.container li {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    gap: 1vw;
    align-items: center;
    text-align: start;
}

.personal-info-content li {
    font-weight: normal;
}

.application-title {
    text-decoration: underline;
}

.doc-type {
    text-align: start;
    font-weight: normal;
}

.add-button,
.view-button,
.search-more-button,
.personal-info-submit {
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
}


.submit-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal-info-submit{
    width: 98%;
    padding: 1vh;
    text-align: center;
    margin: 10px 0 0 0;
}

.search-more-button{
    padding: 1vh 1vw;
}

#select-status {
    background: white;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: fit-content;
    padding: 1vh 1vw;
    font-weight: normal;
    text-align: center;
    outline: 0;
}

option {
    font-weight: normal;
    text-align: center;
}

#select-status:has(option[value="In Progress" ]:checked) {
    background-color: #796ce6;
}

#select-status:has(option[value="Pending"]:checked) {
    background-color: #ebef1a;
}

#select-status:has(option[value="Approved"]:checked) {
    background-color: #0fc62e;
}

#select-status:has(option[value="Rejected"]:checked) {
    background-color: #d03a3a;
}

.white {
    background-color: white;
}

.documents-container::-webkit-scrollbar {
    height: 8px;
}

.documents-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.documents-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}



.pdf-container h4 {
    margin-bottom: 10px;

}




.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 9999;
width: 100%;
height: 100%;
overflow: auto;

    
}

.pdf-viewer {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden; 
    white-space: nowrap;
    gap: 20px;
    align-items: center;
}
.button-docs{
    display: flex;
    flex-direction: column;
    
}

.close-button-container {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    z-index: 1000;


    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.close-button {

    position: static; 
    transform: none; 
    color: black;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 40px;
    font-size: 30px;
    background-color: rgb(230 228 228 / 70%);
    font-weight: bold;
    z-index: 1000;
}

.documents-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: auto;
    gap: 20px;
    padding: 10px;
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
    padding-bottom: 20px;
    
}

.pdf-container {
    flex-shrink: 0;
    width: auto;
    
    text-align: center;
    border: 1px solid #000000;
    padding: 10px;
    background-color: #f9f9f9;
}

.react-pdf__Document {
    border: 1px solid #000;
    margin: 0 auto;
}



.react-pdf__Page__canvas { 
    max-height: 80vh;
    aspect-ratio: 1.414 / 1; 
    display: block;
}

.doc-preview-title {
    background-color: white;
    padding: 10px;
}



.close-button:hover {
    background-color: rgba(255, 0, 0, 0.8);
    transition: background-color 0.3s ease;
}

.close-button:hover span {
    color: white;
}

