.postings-page{
    display: flex;
    align-items: start;
    justify-content: center;
    margin-top: 2vh;
}

.postings-container{
    width: 50vw;
    margin: 0 3vw;
}

.posting{
    border: 1px solid black;
    display: grid;
    grid-template-columns: 3vw 3vw 19vw 17vw 4vw;
    grid-template-rows: 7vh;
    height: 7vh;
    place-items: center;
    font-size: 1em;
    width: 100%;
    margin-bottom: 1vh;
    cursor: pointer;
}

.major-info{
    justify-self: start;
    padding-left: 1vw;
}

.minor-info{
    display: flex;
    flex-wrap:nowrap;
    flex-direction: column;
    text-align: center;
}

.minor-info.row-2{
    flex-direction: row;
    place-self: center;
}

.posting img{
    width: inherit;
    height: 6vh;
}

.posting h4, .posting h6{
    margin: 0;
}

.search-section{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: center;
    margin-bottom: 3vh;
}

.full-selected-posting{
    width: 50vw;
}

.selected-posting{
    background-color: rgb(189, 189, 189);
    
}

.filter-button{
    text-align: center;
    color: white;
    background-color: #e7191f;
    padding: 0 2vw;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.search-bar{
    width: 20vw;
    float: left;
}

.search-bar input{
    text-align: center;
}

.postings-container .filter-container{
    margin-left: 9vw;
}
