.postings-page{
    display: flex;
    align-items: start;
    justify-content: center;
    margin-top: 2vh;
}

.postings-container{
    width: 50vw;
    margin: 0 3vw;
}

.logo{
    margin:0 10px 0 0 ;
}
.logo img{
    height: 50px;
     width: 50px;
       
}

.posting {
    border: 1px solid black;
    display: flex;
    flex:wrap; 
    place-items: center;
    font-size: 1em;
    width: 100%;
    margin-bottom: 1vh;
    cursor: pointer;
    gap:0.1em; 
    padding-right: 2vw;
}


.major-info{
    flex:1; 
    justify-self: start;
    padding-left: 1vw;
    display: flex;
    flex-direction: column;
}

.minor-info{
    flex:1; 
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    text-align: center;
}

.postings-container .filter-container{
    margin-left: 9vw;
}
