.line {

    display:none;

}

.postings-page{
    display: flex;
    align-items: start;
    justify-content: center;
    margin-top: 2vh;
}

.postings-container{
    width: 50vw;
    margin: 0 3vw;
}

.logo{
    margin:0 10px 0 0 ;
}
.logo img{
    height: 50px;
     width: 50px;
       
}
.posting{
    border: 1px solid black;
    display: flex;
    flex:wrap; 
    place-items: center;
    font-size: 1em;
    width: 100%;
    margin-bottom: 1vh;
    cursor: pointer;
    gap:0.1em; 
    padding-right: 2vw;
}

.major-info{
    flex:1; 
    justify-self: start;
    padding-left: 1vw;
    display: flex;
    flex-direction: column;
}

.minor-info{
    flex:1; 
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    text-align: center;
}

.postings-container .filter-container{
    margin-left: 9vw;
}

@media screen and (max-width: 1200px) {
    .line {
        /* display: none; */
        margin-left: 15px;
        border-left: 3px dashed black;
        margin-top: 60px;
        height: 10px;
        
    }
    .postings-page {
        margin-top: 5vh;
    }
    .postings-container {
        width: 60vw;
        margin: 0;
    }
    .posting {
        grid-template-columns: 15% 15% 45% 25%;
        font-size: 0.9em;
        height: auto;
        padding: 1vh 0.5vw;
    }
    .posting img {
        width: auto;
        height: 5vh;
    }
    .major-info {
        padding-left: 1vw;
        font-size: 1em;
    }
    .minor-info {
        font-size: 0.9em;
        text-align: center;
    }
    .search-section {
        flex-direction: column;
        gap: 1vh;
        margin-bottom: 1vh;
    }
    .filter-button {
        font-size: 1em;
        padding: 0.5vh 1vw;
    }
    .full-selected-posting {
        width: 90vw;
        margin: 2vh auto 0;
    }
    .search-bar {
        width: 60vw;
    }
    .search-bar input {
        font-size: 0.9em;
    }
}
@media screen and (max-width: 900px) {
    .search-bar {
        width: 100%;
        margin-left: 15px;
    }
    .line {
        display: none;
    }
    .postings-page {
        flex-direction: column;
        align-items: center;
        margin-top: 2vh;
        width: 100%;
    }
    .postings-container {
        width: auto
    }
    .postings-list-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .posting {
        width: 100%;
        font-size: 0.9em;
    }
    .full-selected-posting {
        width: 100%;
        margin-top: 2vh; 
        
    }
}
