* {
    font-family: "Open Sans";
    font-weight: bold;
}

#header{
    display: flex;
    justify-content: space-between;
}

img{
    flex: 0 0 40%;
}

hr{
    margin-bottom:0; 
}

#logout{
    border: 1px solid black; 
    text-align: center;
    color: white;
    background-color: #e7191f;
    padding: 0 2vw;
    margin: 2vh 4vw 2vh 0;
}

#logout:hover{
    background-color: #831717;
    cursor: pointer;
}

.nav{
    display: flex;
    text-decoration: none;
    justify-content: center;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 2vh 16vw;
}

ul a{
    text-decoration: none;
    align-items: center;
    font-size: x-large;
    color:black;
}

footer{
    background-color: #e7191f;
    display: flex;
    justify-content: center;
}

footer > div{
    color: white;
    justify-content: space-between;
    padding: 5vh 8vw;
}

footer div h3{
    text-align: center;
    flex-wrap: nowrap;
}

footer div p{
    text-align: left;
    text-decoration: underline;
}

footer div p:hover{
    cursor: pointer;
}



